<?xml version="1.0"?>
<phpunit
	bootstrap="phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="default">
			<file>./phpunit/tests/smoke.php</file>
			<exclude>./phpunit/tests/old.php</exclude>
		</testsuite>
		<testsuite name="tdd">
			<directory suffix=".php">./phpunit/tests/tdd/</directory>

		</testsuite>
	</testsuites>
	<php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
