<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="full">
			<directory suffix=".php">./tests/full/</directory>
		</testsuite>
		<testsuite name="tdd">
			<directory suffix=".php">./tests/tdd/</directory>
		</testsuite>
	</testsuites>
	<php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
